#rnk_Container table {
	border-collapse: collapse;
	width: 100%;
	table-layout: fixed;
}

/* raumnutzungskalender */
#rnk_container table td {
	padding: 2px 10px;
	height: 30px;
	max-height: 30px;
}
#rnk_container table th {
	text-align: center;
	font-weight: bold;
	font-size: 40px;
}

table#rnk {
	width:100%
}

table#rnk td.head {
	font-weight: bold;
	background: rgba(100,178,46,0.3);
}

table#rnk td.active {
	background: rgba(100,178,46,1);
	border-bottom: none;
}
table#rnk td.active:not(.erstesFeld){
	border-top: none;
}
table#rnk td.editable {
	background: rgba(100,178,100,1);
	cursor: pointer;
}

table#rnk tr:not(:first-of-type) td:first-of-type {
	text-align: right;
	font-weight: bold;
}
table#rnk tr:first-of-type {
	text-align: center;
	font-weight: bold;
}

/* raumnutzungskalenderbuchung */
#rnkb {
	margin-top: 20px;
	background: rgba(100,178,46,0.3);
	width:100%
}
#rnkb input[type=text]{
	min-height: 30px;
	margin: 0;
	padding: 5px 10px;
}
#rnkb input[type=text][readonly] {
	border: none;
	background: none;
}

#rnkb .button {
	float: left;
	cursor: pointer;
	
	border: 1px solid black;
	border-radius: 5px;
	padding: 5px 10px;
	
	background: linear-gradient(to bottom, rgba(100,178,46,0.3), rgba(100,178,100,1));
}
#rnkb .button:hover {
	background: linear-gradient(to bottom, rgba(100,178,100,1), rgba(100,178,46,0.3));
}
#rnkb .button:active {
	background: rgba(100,178,100,1);
}